/* MEDIA QUERIES, SORT OUT BEM  */

body {
  background-color: #ffffff;
  background-image: linear-gradient(0.25turn, #d9e0eb, #ffffff, #d9e0eb);
  font-size: 1em;
}

.App {
  text-align: left;
  /* font-size: 4em; */
}

a {
  text-decoration: none;
}

header {
  background-color: #2a52be;
  background-image: linear-gradient(0.5turn, #2a52be, #3055bb, #2a52be);
  border-bottom: 3.5px solid #ff9a00;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_container__main_title {
  margin-left: 10vw;
  /* font-style: italic; */
  /* font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .1rem; */
}

.header_container__logo1 {
  color: #ffffff;
}

.header_container__logo2 {
  padding: 0.1rem 0.75rem;
  background-image: linear-gradient(0.5turn, #d0d5db, #ffffff, #d0d5db);
  border-radius: 1px;
  color: #282c83;
}

.header_container__user {
  margin-right: 1rem;
  color: #ffffff;
}
.header_container__user:hover {
  color: #ff9a00;
}

.header_container__login_button {
  margin-right: 10vw;
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0.8rem;
  font-weight: 900;
}

.header_container__login_button:hover {
  color: #ff9a00;
}

.nav_container {
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavLink {
  padding: 0 0.25rem;
  color: #0a1195;
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900;
}

.selected {
  border-bottom: 3px solid rgb(17, 17, 136);
}

.NavLink:hover {
  color: #ff9a00;
  border-bottom: 3px solid #ff9a00;
}

.main {
  margin: 0 10vw;
}

.main__subheader {
  text-transform: uppercase;
  color: #0a1195;
  font-weight: 900;
  font-size: 1.8rem;
}
.main__mobile_subheader {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  background-image: linear-gradient(0.25turn, #e5eaf1, #ffffff, #e5eaf1);
}
.main__home_loading-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main__home_loading-icon div {
  height: 20px;
  width: 20px;
  background-color: #2a52be;
  margin: 0.3rem;
  animation: ripple 0.5s infinite alternate;
}
.main__home_loading-icon div:nth-child(2) {
  animation-delay: 0.1s;
}
.main__home_loading-icon div:nth-child(3) {
  animation-delay: 0.2s;
}
.main__home_loading-icon div:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes ripple {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-12px);
    opacity: 0.5;
  }
}

.main__article_li {
  margin: 1rem 0;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #e0e4e9;
  box-shadow: -1px 6px 13px -1px #d2d6dd;
  -webkit-box-shadow: -1px 6px 13px -1px #d2d6dd;
  -moz-box-shadow: -1px 6px 13px -1px #d2d6dd;
}

.main__article_title_link {
  margin-bottom: 0.25rem;
  color: #3b3b3b;
  text-decoration: none;
}
.main__article_title_link:hover {
  color: #686868;
}
.main__article_title {
  margin-bottom: 0.5rem;
}

.main__article_tags {
  display: flex;
  align-items: center;
}

.main__author_name {
  margin: 0;
  display: inline;
  color: #2a52be;
  font-family: "Playfair Display", serif;
  font-size: 0.9rem;
  font-weight: 700;
  vertical-align: middle;
}

.main__topic_tag {
  display: inline;
  padding: 0.15rem 0.6rem 0.15rem 0.4rem;
  margin: 0 1rem;
  color: #ffffff;
  background-color: #0a1195;
  border: none;
  border-radius: 0px 100px 100px 0px;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: 900;
  text-decoration: none;
  vertical-align: middle;
}
.main__topic_tag:hover {
  color: #ff9a00;
  cursor: pointer;
}
.main__topic_tag-link {
  text-decoration: none;
}

.main__date {
  margin: 0;
  color: #686868;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 700;
  vertical-align: middle;
}

.main__article_interactions {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.main__interaction_indicator {
  margin: 0 1rem 0 0;
  color: #0a1195;
}
.main__interaction_indicator:hover {
  color: #ff9a00;
}

.main__interaction_icon {
  margin: 0.1rem;
  font-size: 1.5rem;
  vertical-align: middle;
  border: none;
}
.main__interaction_icon:hover {
  cursor: pointer;
  color: #ff9a00;
}
.noHover {
  pointer-events: none;
}
.main__interaction_button {
  color: #0a1195;
  background: transparent;
  border: none;
}

.main__sort_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main__sort_by {
  padding: 0;
  background-color: #ffffff;
  color: #0a1195;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
}
.main__sort_order {
  margin-left: 0.5rem;
  background-color: transparent;
  color: #0a1195;
  border: none;
  font-weight: 900;
  font-size: 1.2rem;
  vertical-align: middle;
}
.main__sort_order:hover {
  color: #ff9a00;
  cursor: pointer;
}

.main__dropdown_container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__dropdown_arrow {
  background-color: transparent;
  color: #71739c;
  border: none;
  font-size: 2rem;
}
.main__dropdown_arrow:hover {
  color: #adb0e0;
  cursor: pointer;
}
.main__article_interactions--dropdown {
  margin-left: 1rem;
  display: flex;
  align-items: baseline;
}

.main__singleArticle_title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #3b3b3b;
  text-decoration: none;
}
.main__singleArticle_body {
  line-height: 2rem;
  color: #3b3b3b;
}
.main__singleArticle_voteContainer {
  display: flex;
  justify-content: flex-end;
}
.main__singleArticle_lineBreak {
  height: 0.2rem;
  background-color: #3055bb9c;
  border: none;
  margin: 2rem 0 2rem 0;
}

.main__comments_title {
  color: #3b3b3b;
}
.main__comments_form {
  font-weight: 500;
  color: #3b3b3b;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
}
.main__comments_text-input {
  font-size: 1rem;
  font-family: inherit;
  margin: 1rem 0 1rem 1.5rem;
  padding: 0.8rem;
  border: 2px solid #e0e4e9;
  box-shadow: -1px 6px 13px -1px #d2d6dd;
  -webkit-box-shadow: -1px 6px 13px -1px #d2d6dd;
  -moz-box-shadow: -1px 6px 13px -1px #d2d6dd;
}
.main__comments_button {
  padding: 0.25rem 0.5rem;
  background-color: #2a52be;
  border: none;
  color: #ffffff;
  font-family: inherit;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 900;
  width: 7rem;
  align-self: flex-end;
}
.main__comments_button:hover {
  color: #ff9a00;
  cursor: pointer;
}
.main__comments_author-name {
  font-size: 1rem;
  font-weight: 800;
  color: #2a52be;
}

.main__comments_date {
  color: #686868;
  font-size: 0.8rem;
  font-weight: 800;
}
.main__comments_comment-li {
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  border: 2px solid #e0e4e9;
  box-shadow: -1px 6px 13px -1px #d2d6dd;
  -webkit-box-shadow: -1px 6px 13px -1px #d2d6dd;
  -moz-box-shadow: -1px 6px 13px -1px #d2d6dd;
}
.main__comments_comment-body {
  line-height: 2rem;
  font-size: 1rem;
  color: #3b3b3b;
}

.main__form-container {
  display: flex;
  justify-content: center;
  font-family: inherit;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #0a1195;
}
.main__login-form {
  padding: 1rem 0;
  width: 45vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #e0e4e9;
  box-shadow: -1px 6px 13px -1px #d2d6dd;
  background-color: #ffffff;
}
.main__username {
  margin: 0.5rem;
  border: 1px solid #e5e5ee;
  border-radius: none;
}
.main__username-message {
  text-align: center;
  flex-basis: 100%;
}
.main__login-form-button {
  padding: 0.25rem 0.5rem;
  background-color: #2a52be;
  border: none;
  color: #ffffff;
  font-family: inherit;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 900;
}

.main__login-form-button:hover {
  color: #ff9a00;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .App {
    font-size: 0.75em;
  }
  .NavLink {
    font-size: 0.5rem;
  }

  .main__subheader {
    display: none;
  }
  .main__mobile_subheader {
    display: inline-flex;
    font-size: 1.2rem;
    margin-right: auto;
  }
  .main__sort_by {
    justify-self: flex-end;
    max-width: 5rem;
    margin-left: 1rem;
  }
  .main__article_li {
    padding: 0.5rem;
  }
  .main__topic_tag {
    font-size: 0.4rem;
  }
  .main__article_tags,
  .main__article_interactions,
  .main__interaction_icon,
  .main__author_name,
  .main__date {
    font-size: inherit;
  }
  .main__singleArticle_title {
    font-size: 1.4rem;
  }
  .main__date {
    font-size: 0.5rem;
  }
}
